/*BASE*/

:root {
  --font-text: "Bai Jamjuree", sans-serif;
  --font-headings: "Exo 2", sans-serif;
  --font-accent: "Shadows Into Light Two", cursive;
  --clr-primary: #a7ffeb;
  --clr-accent: #64ffda;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #eeeeee;
  font-family: var(--font-text);
}

/*HERO*/
h1 {
  font-family: var(--font-accent);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  color: var(--clr-primary);
  text-align: center;
}
h2,
h3,
h4 {
  font-family: var(--font-headings);
  margin: 0;
  line-height: 1;
  font-size: 0.75em;
}
h2,
h3 {
  text-align: center;
}

.links {
  text-align: center;
}
.links a,
.col a {
  position: relative;
  display: inline-block;
  outline: none;
  font-family: var(--font-accent);
  font-size: 0.65em;
  text-decoration: none;
  color: inherit;
  margin: 10px;
  transition: color 0.3s;
}
.link:hover::before,
.link:focus::before,
.link:hover::after,
.link:focus::after {
  opacity: 1;
  transform: translateY(0px);
}
.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background: var(--clr-primary);
  transition: opacity 0.3s, transform 0.3s;
}
.link::after {
  bottom: 0;
  transform: translateY(10px);
}
.link::before {
  top: 0;
  transform: translateY(-10px);
}

.dictionary,
.weather {
  padding: 20px;
  overflow: hidden;
}
.dictionary {
  text-align: start;
}
.weather {
  text-align: end;
}

p {
  font-size: 0.35em;
}
.footer {
  text-align: center;
  color: var(--clr-accent);
}
.insta,
.linked,
.email {
  text-align: center;
}
