/*BASE*/
$font-text: "Bai Jamjuree", sans-serif;
$font-headings: "Exo 2", sans-serif;
$font-accent: "Shadows Into Light Two", cursive;
$clr-primary: #a7ffeb;
$clr-accent: #64ffda;
$clr-opaque: #272727;
$clr-text: #eee;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: $clr-text;
  font-family: $font-text;
  height: 100vh;
}

/*HEADER*/
.nav-container {
  margin-bottom: 2em;

  a {
    color: $clr-text;
    text-decoration: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}
/*HERO*/
.hero {
  margin: 2em 0;

  .hero-text {
    text-align: center;
  }
  h1 {
    font-family: $font-headings;
  }
  span {
    color: $clr-accent;
    font-family: $font-accent;
  }
}

/*LINKS RIBBON*/
.links {
  background-color: $clr-opaque;
  box-shadow: 0px 0px 4px 0px rgba(221, 221, 221, 0.67),
    0px 0px 12px 7px rgba(83, 83, 83, 0.94),
    inset 0px 0px 5px 1px rgba(151, 255, 223, 0.77);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  margin: 2em 0;

  a {
    position: relative;
    display: inline-block;
    outline: none;
    font-family: $font-accent;
    font-weight: bold;

    text-decoration: none;
    color: inherit;
    margin: 10px;
    transition: color 0.3s;

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translateY(0px);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      opacity: 0;
      background: $clr-primary;
      transition: opacity 0.3s, transform 0.3s;
    }
    &::after {
      bottom: 0;
      transform: translateY(10px);
    }
    &::before {
      top: 0;
      transform: translateY(-10px);
    }
  }
}
/*FEATURED PROJECT*/
.project {
  margin: 2em 1em;

  h3 {
    font-family: $font-headings;
  }
}
.project-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  place-items: center;
  margin: 2em 1em;

  img {
    grid-column: 1 / 2;
    max-width: 100%;
    height: auto;
  }
  .info {
    grid-column: 2 / 3;
    justify-items: start;

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;

      &:focus,
      &:hover {
        color: $clr-primary;
      }
    }
  }
}
/*SKILLS*/

.skillset {
  margin: 2em 1em 3em;
  background-color: $clr-opaque;
  box-shadow: 0px 0px 9px 3px rgb(65, 64, 64);

  .skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    justify-content: space-evenly;

    p {
      padding: 1em;
      margin: 0 auto;
    }
  }
}

.tech {
  text-align: center;
  font-family: $font-headings;
  margin: 0 auto;
}
/*FOOTER*/

footer {
  border-top: 2px solid $clr-primary;
  h4 {
    text-align: center;
    margin: 1.5em auto;
  }
  p {
    font-size: 0.5em;
    text-align: center;
    a {
      text-decoration: none;
      color: $clr-text;
      &:hover,
      &:focus {
        color: $clr-accent;
      }
    }
  }
}
.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-content: space-evenly;
  margin: 2em;

  a {
    text-decoration: none;
    color: $clr-text;
  }
}

/*ABOUT PAGE*/
.intro {
  display: grid;
  margin: 1em 1em 1.5em;
  align-items: center;

  img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  h3 {
    padding: 1em;
    font-family: $font-accent;
    font-weight: bold;
    color: $clr-primary;
  }
}

.reason {
  margin: 1em 1em 2em;
}

.names {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  justify-content: space-evenly;
  font-size: 0.8em;
}

/*PROJECTS*/
.projects-header {
  font-size: 0.9em;
  justify-content: space-evenly;
}
.project-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5em;
  margin: 2em auto;
  padding: 1em;
}
.carousel {
  grid-column: 1 / 2;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
img {
  box-shadow: 0px 0px 10px 5px #525252;
}
.project-title {
  margin: 2em;
  text-align: left;
}

.live-sites {
  list-style: none;
  display: flex;

  .sites {
    margin: 2em;

    a {
      text-decoration: none;
      color: $clr-text;

      &:hover,
      &:focus {
        color: $clr-accent;
      }
    }
  }
}

.more {
  margin: 1em;
  text-align: center;

  .codepen a {
    text-decoration: none;
    color: $clr-text;
    &:hover,
    &:focus {
      color: $clr-accent;
    }
  }
}

/*CONTACT*/
.contact-title {
  text-align: center;
  font-family: $font-accent;
  color: $clr-primary;
  margin: 2em;
}

.contact-text {
  text-align: center;
  margin: 0 auto;
  padding: 1em;

  p {
    text-align: start;
  }
}

.contact-email {
  text-align: center;
  font-family: $font-headings;
  color: $clr-accent;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 500px) {
  .projects-header {
    font-size: 1.25em;
  }

  .links {
    margin: auto 4em;
  }

  .intro {
    display: grid;
    margin: 1em 1em 1.5em;
    justify-content: space-evenly;
    place-items: center;
    gap: 1em;

    img {
      margin: 0 auto;
      grid-column: 1 / 2;
      width: 100%;
      height: auto;
    }
    h3 {
      padding: 1em;
      font-family: $font-accent;
      font-weight: bold;
      grid-column: 2 / 3;
    }
  }
}
